	
	<!-- <div class="row col-md-6">		
		<form name="loginForm" ng-submit="submit()">
			<div class="form-group">
			  <label for="emp_id">Employee ID:</label>
			  <input type="text" class="form-control" ng-model="employee.emp_id" ng-required="true">
			</div>
			<div class="form-group">
			  <label for="password">Password:</label>
			  <input type="password" class="form-control" ng-model="employee.password" ng-required="true">
			</div>
			<div align="left">
				<input type="submit" value="Login" class="btn btn-primary">
				<button type="button" class="btn btn-primary" ng-click="register()">Register</button> <!-- /wsor/register
			</div>
		</form>
	</div> -->