

	  <div class="col-sm-3 col-md-2 sidebar">
		
          <ul class="nav nav-sidebar">
			<li><a href="#!/projects/basic">Basic Information</a></li>
			<li><a href="#!/projects/qualifications">Summary of Qualifications</a></li>
			<li><a href="#!/projects/areas">Areas of Specialization</a></li>
			<li><a href="#!/projects/seminar">Seminars and Training</a></li>
			<li class="active"><a href="#!/projects/career" >Career Synopsis</a></li>	               
			<li><a href="#!/projects/experience" >Project Experience</a></li>	               
          </ul>     
		  
        </div>

		

<div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10"><h1>Career Synopsis</h1><br></div>
</div>
	
	
<form class="form-vertical" name="basicForm" ng-submit="submit()">
	<div class="form-group" ng-repeat="career in career" >
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="form-group"  ng-class="{ 'has-error' : careerForm.careersy.empid.$invalid && !basicForm.career.empid.$pristine }">
				<label for="empid" class="col-md-3"> Employee ID:</label>
				<div class="col-md-6">
					<input type="text" style='margin-bottom:5px;' class="form-control" ng-model="careersy.empid" ng-required="true" id="empid" name="empid" placeholder="Employee ID"/>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="form-group">
				<label for="company" class="col-md-3">Company Name:</label>
				<div class="col-md-6">
					<input type="text" class="form-control" ng-model="careersy.company" id="company" name="company "ng-required="true" placeholder="Company Name">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="form-group">
				<label for="position" class="col-md-3">Position:</label>
				<div class="col-md-6">
					<input type="text" class="form-control" ng-model="careersy.position" id="position" name="position" ng-required="true" placeholder="Position">
				</div> 
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="form-group">
				<label for="Duration" class="col-md-3 control-label">Duration:</label>
				<div class="col-md-2">
					<input type="date" class="form-control" id="Duration" style='margin-bottom:5px;' placeholder="MM/DD/YYYY" ng-model="careersy.date" id="date" name="date" />
				</div>
				<div class="col-md-2">
					<input type="date" class="form-control" id="Duration" style='margin-bottom:5px;' name="To: MM/DD/YYYY" ng-model="careersy.date" id="date" name="date"/>
				</div>
				<div class="checkbox-inline col-md-1">
					<label><input id="chkPresent" name="chkPresent" type="checkbox" > Present</label>            
				</div>
			</div>	
		</div>
		
	</div>

	<div class="row" align="left">
		<div class="col-md-2">
		</div>
		<div class="col-md-4"> 
			<button type="button" class="btn btn-primary" ng-click="addNewCareer()">Add</button>
			<button type="button" class="btn btn-primary" ng-click="removeCareer()">Cancel</button>
		</div>
	</div>

	<div class="row" align="right">
		<br>
		<div>
			<button id="btnCancel" type="button" class="btn btn-primary"  ng-click="cancel()">Cancel</button>
			<input type="submit" class="btn btn-primary"/>
		</div>
	</div>

</form>
</div>

		
	

   

<!--
</script>
-->